*{
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}
body{
    background: linear-gradient(180deg, #595cee 0%, #8dd0f5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.hide{
    display: none;
}
.container{
    background-color: #5c54ed;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
    color: #fdfdfd;
    border-radius: 1rem;
    padding: 2rem;
    max-width: 400px;
}
.form h3{
    margin-bottom: 1rem;
}
.form-input-container{
    display: flex;
}
.form input{
    padding: 0.8rem;
    border: none;
    flex: 1;
    border-radius: 4px;
}
.form button{
    padding: 0.9rem;
    min-width: 50px;
    margin-left: 8px;
    background-color: #8dd0f5;
    color:#fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.form button:hover{
    background-color: #6dabcc;
}

#weather-data,
#error-message{
    border-top: 1px solid #fff;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}
#weather-data h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .6rem;
}
#weather-data h2 i{
    font-size: 1rem;
}
#weather-data span{
    margin: 0.6rem;
}
#temperature {
    font-size: 4rem;
}
#country{
    height: 17px;
    display: none;
}
#description-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6rem 0;
}
#description{
    font-weight: bold;
    text-transform: capitalize;
}
#details-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#details-container #humidity{
    border-right: 1px solid #fff;
    margin: 0.6rem;
    padding: 0.6rem;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
    color: #e3e3e3;
    height: 70px;
    width: 100%;
    background-color: #5C54ED;
    padding: 20px;
    position: absolute;
    top: 0;
}
.menu{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.menu span{
    height: 5px;
    width: 40px;
    border-radius: 2px;
    background-color: #e3e3e3;
    margin-bottom: 4px;
}
footer{
    height: 50px;
    background-color: #333;
    color: #e3e3e3;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    line-height: 50px;
}
footer a{
    text-decoration: none;
    color: #e3e3e3;
}
footer a:hover{
    text-decoration: underline;
}











































/* Rodrigo Daniel - GitHub: Spyke27 */
